* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #FFF;
  font-size: 18px; 
  font-family: Arial, sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  overflow: auto;
}

header, footer {
  text-align: center;
  width: 100%;
  background-color: #333; 
  padding: 1.5em 0;
  color: #FFF;
  letter-spacing: 1px;
}
  
.tab-buttons {
  text-align: center;
  margin-bottom: 20px;
}

nav {
  text-align: center;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  background: #FFD700;
  padding: 10px 15px;
  border-radius: 5px
}

nav a:hover {
  background: #FFC107;
}

.form-container {
  max-width: 30vw;
  width: 90%;
  background: #111;
  color: #FFD700;
  border: 2px solid #FFD700;
  padding: 25px;
  margin: 20px auto;
  border-radius: 8px;
}

#login:target, #signup:target {
  display: block;
  border: 3px solid yellow;
}

#projetos {
  font-size: 18px;
}

#usuarios {
  font-size: 18px;
}

.table-container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  background: #000; 
  color: #FFD700; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5); 
  overflow: hidden;
}

.table-wrapper {
    overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background: #000; 
  color: #FFD700; 
}

thead {
  background: #FFD700; 
  color: #000; 
  position: sticky;
  top: 0;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #FFD700; 
}

td button {
  width: auto;
}

tbody tr:nth-child(even) {
  background: #111; 
}

tbody tr:hover {
  background: #222; 
}

select, input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  width: 100%;
}

button:last-child {
  background: #B40000;
  color: white;
}

button:last-child:hover {
  background: darkred;
}

button {
  background: #FFD700;
  color: #000; 
}

button:hover {
  background: #FFC107; 
}

.columns {
  display: flex;
  align-items: baseline;
}

fieldset {
  border-style: solid;
  border-color: #FFD700;
}

fieldset .adicionar-btn {
  background-color: #FFD700;
  color: #000;
  height: fit-content;
  padding: 10px;
  margin-top: 5px;
}

fieldset .adicionar-btn:hover {
  background-color: #FFC107;
}