body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #007BFF;
    color: white;
    padding: 1em;
    text-align: center;
}

footer {
    text-align: center;
    width: 100%;
    padding: 1em 0;
}

nav {
    margin: 10px 0;
}

nav .tab {
    background: #f4f4f4;
    color: #333;
}

nav .tab:hover {
    background-color: #FFF;
}
.tab-buttons {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tab {
    display: inline-block;
    background: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}

.tab:hover {
    background: #0056b3;
}

.form-section {
    display: none;
    text-align: center;
    max-width: 350px; 
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    font-size: 20px; 
    margin-bottom: 10px;
}

input {
    width: 90%; 
    max-width: 300px; 
    padding: 8px;
    margin: 5px 0;
    font-size: 14px;
}

button {
    width: 100%; 
    max-width: 49vh; 
    padding: 8px;
    margin-top: 20px;
    font-size: 14px;
}

#login:target, #signup:target {
    display: block;
}

#descricao {
    width: 90%;
    max-width: 1300px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

div.img-container {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 420px;
  }
  
  div.img-container:hover {
    border: 1px solid #777;
  }
  
  div.img-container img {
    width: 100%;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }